<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.netforceinfotech.ibet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:supportsRtl">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.EmailLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.home.finsihed_bet.detail_finished_bet.DetailFinishedBet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.home.bets_to_join.detail_bet_to_join.DetailBetToJoin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.home.startnewbet.create_bet.WhoWillWinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.home.startnewbet.StartNewBetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profilesetting.ProfileSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profilesetting.selectteam.SelectTeamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".dashboard.profile.selectteam.SelectTeamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".dashboard.chart.highest.HighestTabActivity"
            android:label="@string/title_activity_chart_tab"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dashboard.setting.notification.teamNotification.soundlist.SoundlistActivity"
            android:label="@string/title_activity_soundlist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dashboard.setting.notification.generalNotification.soundlist.SoundlistActivity"
            android:label="@string/title_activity_soundlist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dashboard.setting.feedback.FeedbackActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dashboard.setting.notification.teamNotification.teamlist.TeamlistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.purchase.PurchaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.chart.richestrank.RichestTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.setting.odds.OddsActivity"
            android:label="@string/title_activity_odds"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dashboard.setting.notification.generalNotification.GeneralNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.setting.notification.teamNotification.TeamNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.setting.language.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.setting.theme.ThemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.setting.sounds.SoundActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".dashboard.setting.theme.themeColor.ThemeColorActivity" />
        <activity android:name=".currentbet.betarena.EnterBetArenaActivity" />
        <activity android:name=".currentbet.betarena.thearena.TheArenaActivity" />
        <activity android:name=".currentbet.betarena.thearena.StandActivity" />
        <activity android:name=".dashboard.home.startnewbet.create_bet.CreateBet" />
        <activity
            android:name=".scratchview.ImageOverlayDrawable"
            android:label="Image Overlay Drawable (Experimental)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.winsontan520.testwscratchview.SAMPLE" />
            </intent-filter>
        </activity>
        <activity android:name=".live_event_main.LiveEventActivity" />
        <activity android:name=".profilesetting.tutorial.TutorialActivity" />
        <activity android:name=".profilesetting.tutorial.DefaultIntro" />

        <service android:name=".general.firebasegcm.MyFirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".live_event_main.expandcurrentgame.detail.stand.StandActivity" />

        <service android:name=".general.firebasegcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".live_event_main.expandcurrentgame.detail.stand.match_chat.comments_comment.CommentComments" />
        <activity android:name=".dashboard.home.startnewbet.create_bet.searchfriend.SearchFriendActivity" />
        <activity android:name=".scratchview.ScratchActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".dashboard.setting.theme.background.BackgroundActivity"></activity>
    </application>

</manifest>