<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netforceinfotech.ibet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.EmailLogin" />
        <activity android:name=".dashboard.Dashboard" />
        <activity android:name=".dashboard.home.detail_finished_bet.DetailFinishedBet" />
        <activity android:name=".dashboard.home.detail_bet_to_join.DetailBetToJoin" />
        <activity android:name=".dashboard.home.detail_bet_to_join.WhoWillWinActivity" />
        <activity android:name=".dashboard.home.startnewbet.StartNewBetActivity" />
        <activity android:name=".profilesetting.ProfileSettingActivity" />
        <activity android:name=".profilesetting.selectteam.SelectTeamActivity" />
        <activity
            android:name=".dashboard.Chart.ChartActivity"
            android:label="@string/title_activity_chart"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dashboard.Chart.ChartTabActivity"
            android:label="@string/title_activity_chart_tab"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
